@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles**********************/
.header__container {
  height: 100px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 5;

}
.header__wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__image {
  height: 100%;
}
.header__image a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header__nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__element {
  margin-right: 74px;
}
.header__nav__element a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 5px 0px;
}

.header__nav__element_language {
}

.dropdown-container {
  position: absolute;
  top: 32%;
}

.dropdown {
  padding: 10px;
  border-radius: 0.5px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.fa-caret-down {
  position: relative;
  top: 0px;
  font-size: 1.3rem;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

.rotate-dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  border-radius: 4px;

  width: 50px;

  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}

.dropdown-menu span {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.dropdown-menu span:hover {
  background: #eee;
}

#openDropdown:checked + .dropdown-menu {
  display: flex;
  animation: openDropDown 0.4s ease 0s 1 forwards;
}

@keyframes openDropDown {
  from {
    transform: rotateX(50deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.header__container_services{
  background-color: #fff;
  color: #000;
}
.header__nav__element_services a{
  color: #000;
}
.header__nav__element_language_services{
  color: #000;
}
.header__container_services .dropdown{
  color: #000;
}
/************main page styles*******************/
/************main page styles*******************/
/************main page styles*******************/
.main__content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__main__block{
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__main__img{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content__main__img img{
  width:  100%;
}
.main__content__footer__block{
  position: absolute;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
}
.__footer__block__wrapper{
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.__footer__block__wrapper a {
  color: #fff;

}
/*************burger menu*******************/
.mobile__burger_block{
  display: none;
  visibility: hidden;
}
/*************burger menu*******************/
@media only screen and (max-width: 1690px) {
  .services__container_block {
    max-width: 1320px;
  }
  .services__element__block {
    width: 36%;
  }
  .services__element {
    height: 52vh;
  }

}
@media only screen and (max-width: 1580px) {

}
@media only screen and (max-width: 1450px) {
 
}
@media only screen and (max-width: 1368px) {
 
}
@media only screen and (max-width: 1285px) {

}
@media only screen and (max-width: 1199.98px) {
  
}
@media only screen and (max-width: 769px) {
  /*************burger menu*******************/
.mobile__burger_block{
  display: initial;
  visibility: visible;
}
.header__nav_wrapper{
  display: none;
  visibility: hidden;
}
/*************burger menu*******************/


/************main page styles*******************/
.content__main__img img{
  width: initial;
  height:  100%;
}
}
@media only screen and (max-width: 620px){
  
}
@media only screen and (max-width: 427px) {
 
}
@media only screen and (max-width: 376px) {
  .header__container {
    height: 89px;
  }
}
