@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles********************/
/******header styles**********************/
.header__container {
  height: 100px;
  width: 100%;

  position: fixed;
  top: 0;
  z-index: 5;

}
.header__wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__image {
  height: 100%;
}
.header__image a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header__nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__element {
  margin-right: 74px;
}
.header__nav__element a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  padding: 5px 0px;
}

.header__nav__element_language {
}

.dropdown-container {
  position: absolute;
  top: 32%;
}

.dropdown {
  padding: 10px;
  border-radius: 0.5px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
}

.fa-caret-down {
  position: relative;
  top: 0px;
  font-size: 1.3rem;
  margin-left: 4px;
  transition: transform 0.3s ease;
}

.rotate-dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  border-radius: 4px;

  width: 50px;

  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.3);
  background: #fafafa;
  transform-origin: top left;
}

.dropdown-menu span {
  padding: 10px;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.dropdown-menu span:hover {
  background: #eee;
}

#openDropdown:checked + .dropdown-menu {
  display: flex;
  animation: openDropDown 0.4s ease 0s 1 forwards;
}

@keyframes openDropDown {
  from {
    transform: rotateX(50deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
.header__container_services{
  background-color: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header__nav__element_services a{
  color: #000;
}
.header__nav__element_language_services{
  color: #000;
}
.header__container_services .dropdown{
  color: #000;
}


.header__container_about{
  background-color: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.header__nav__element_about a{
  color: #000;
}
.header__nav__element_language_about{
  color: #000;
}
.header__container_about .dropdown{
  color: #000;
}
/************main page styles*******************/
/************main page styles*******************/
/************main page styles*******************/
.main__content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__main__block{
  height: 100%;
  width: 100%;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__main__img{
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content__main__img img{
  width:  100%;
}
.main__content__footer__block{
  position: absolute;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
}
.__footer__block__wrapper{
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.__footer__block__wrapper a {
  color: #fff;
  letter-spacing: 1px;
}
/*************burger menu*******************/
.mobile__burger_block{
  display: none;
  visibility: hidden;
}
/*************burger menu*******************/


/************services styles*************************/
/************services styles*************************/
/************services styles*************************/
.slider__content__container {
  width: 100%;
  height: 100%;  
}
.slider__content__wrapper {
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.slider__content__element {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;


}
.slider__content__element2{
  background-color: #fff;
  padding: 2.8em;
  
}
.slider__content__element__img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
.slider__content__element__img img{
  height: 100%;
  object-fit: cover;
}
.slider__content__element__container {
}
.__element__container__desc {
  text-transform: uppercase;
  font-size: 11px;
  color: #ca9f5c;
  margin-bottom: 2em;
  font-weight: 600;
  letter-spacing: 2px;
}
.__element__container__name {
  color: #222222;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}
.__element__container__line {
  background-color: #222222;
  width: 50px;
  height: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.__element__container__text {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 2.5em;
}
.__element__container__link a{
  border: 1px solid #959595;
  color: #959595;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7.8px 23px;
}
/***************about styles********************/
.about__main__container {
  margin-top: 90px;
  width: 100%;
  min-height: 100vh;
}
.about__wrapper {
  width: 100%;


}
.about__img_name__block {
  height: 100%;
  width: 100%;
  position: relative;
  height: 50vh;
}

.about__img__block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__img__block img{
  width: 100%;
  object-fit: cover;
}
.about__name__block {
  position: absolute;
  background-color: #22222286;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.__block_img-text-container {
  width: 30%;
  text-align: center;

  position: relative;

}
.__block_img-text_name{
  color: #fafafa;
  font-size: 34px;
  margin-bottom: 0.7em;
  font-weight: 600;
}
.__block_img_text-block p {
  font-size: 19px;
  color: #fafafa;
}
.__block_img_text-block {
  width: 100%;
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.1, -.6, .2, 0);

  --b: 5px;
  /* thickness of the border */
  --c: rgba(255, 255, 255, 0.678);
  /* color of the border */
  --w: 20px;
  /* width of border */


  border: var(--b) solid transparent;
  /* space for the border */
  background:
    linear-gradient(var(--c), var(--c)) top left,
    linear-gradient(var(--c), var(--c)) top left,
    linear-gradient(var(--c), var(--c)) bottom left,
    linear-gradient(var(--c), var(--c)) bottom left,
    linear-gradient(var(--c), var(--c)) top right,
    linear-gradient(var(--c), var(--c)) top right,
    linear-gradient(var(--c), var(--c)) bottom right,
    linear-gradient(var(--c), var(--c)) bottom right;
  background-size: var(--b) var(--w), var(--w) var(--b);
  background-origin: border-box;
  background-repeat: no-repeat;
  padding: 28px;
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.about__name__block{
  color: #000;
}
.about__content__container {
  width: 100%;
}
.about__content__text__wrapper {
  width: 60%;
  margin: 0 auto;
  padding: 20px 0px;
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}
.about__text__name_desc {
   width: 40%; 
}
.about__text__name {
  color: #222222;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}
.about__text__line {
  margin: 1.5em 0;
  height: 2px;
  background-color: #222222;
  width: 50px;
}
.about__text__desc {
  color: #222222;
  font-size: 14px;
  line-height: 21px;
}
.about__content__maindesc {
  width: 58%;
}
.about__content__maindesc p {
  color: #222222;
  font-size: 14px;
  line-height: 21px;
}
.about__content__maindesc p:nth-child(2){
  margin-top: 1em;
}
.about__content__images_wrapper {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  background-color: #222222;
}
.about__content__images_block {
  width: 25%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__content__images_block img {
  object-fit: cover;
  height: 100%;
}
.about__footer{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about__footer .__footer__block__wrapper{
  width: 100%;
  color: #222222;
}
.about__footer .__footer__block__wrapper a {
  color: #222222;
}
/*********gallery styles*************************/
/*********gallery styles*************************/
/*********gallery styles*************************/

.gallery__main__name{
  color: #fafafa;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
.gallery__content__container {
  width: 90%;
  margin: 0 auto;

}
.gallery__photos__wrapper {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.gallery__photos__wrapper a{
  display: block;
  width: 28%;
  height: 50vh;
  margin: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__photos__wrapper a img {
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1690px) {
  .services__container_block {
    max-width: 1320px;
  }
  .services__element__block {
    width: 36%;
  }
  .services__element {
    height: 52vh;
  }

}
@media only screen and (max-width: 1580px) {

}
@media only screen and (max-width: 1450px) {
 
}
@media only screen and (max-width: 1368px) {
 
}
@media only screen and (max-width: 1285px) {

}
@media only screen and (max-width: 1199.98px) {
  
}
@media only screen and (max-width: 769px) {
  /*************burger menu*******************/
.mobile__burger_block{
  display: initial;
  visibility: visible;
}
.header__nav_wrapper{
  display: none;
  visibility: hidden;
}
/*************burger menu*******************/


/************main page styles*******************/
.content__main__img img{
  width: initial;
  height:  100%;
}
/*************swiper content**********************/
.slider__content__wrapper{
  flex-direction: column;
}
.slider__content__element{
  height: 50%;
  width: 100%;
}
.slider__content__element__img img {
  width: 100%;
}
/************about page************************/
.about__content__text__wrapper {
  width: 95%;

}
.about__content__images_wrapper{
  height: auto;
  flex-wrap: wrap;
}
.about__content__images_block{
  width: 50%;
}

.about__content__images_block img{
  width: 100%;
  height: 200px;
}
.__block_img-text-container{
  width: 50%;
}
/************** gallery*********************/
.gallery__photos__wrapper a{
  height: 30vh;
  width: 45%;
}
}
@media only screen and (max-width: 620px){
  .content__main__img img{
    width: initial;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 427px) {
 .__element__container__name {
  font-size: 18px;
 }
 .__element__container__text {
  margin-top: 0.5em;
  margin-bottom: 1.4em;
  line-height: 20px;
  font-size: 13px;
 }
 .__element__container__line{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
 }
 .swiper-slide:nth-child(2)  .slider__content__wrapper{
    flex-direction: column-reverse;
 }
/************about**************/
.about__content__text__wrapper{
  flex-direction: column;
}
.about__text__name_desc{
  width: 100%;
}
.about__content__maindesc{
  width: 100%;
  motion-path: 1em;
}
.about__img__block img{
  height: 100%;
}
.__block_img-text-container{
  width: 90%;
}
.__block_img-text_name{
  font-size: 25px;
}
.__block_img_text-block p {
  font-size: 17px;
}
.content__main__img{
  display: flex;
    align-items: center;
    justify-content: center;
}
/************** gallery*********************/
.gallery__content__container{
  width: 100%;
}
.gallery__photos__wrapper a{
  height: 26vh;
  width: 41%;
}

}
@media only screen and (max-width: 376px) {
  .header__container {
    height: 89px;
  }
}
